@import "reset.css";

@font-face {
  font-family: "SF Mono";
  font-weight: 300;
  src: url(fonts/SFMono-Light.otf) format('truetype');
}

body {
  font-family: "SF Mono", monospace;
  font-weight: 300;
  font-size: 70px;
  line-height: 63px;
  background: black;
  color: white;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
}

header,
footer {
  display: flex;
  justify-content: space-between;
  padding: 24px;
}

header {
  align-items: center;
}

header {
 align-items: flex-end;
}

.circle {
  width: 200px;
  height: 200px;
  background: red;
  border-radius: 100%;
  margin: 50px;
  box-shadow: 24px 24px rgba(255, 0, 0, 0.5);
  animation: rotate 10s linear reverse infinite;

}
.circle:nth-of-type(even) {
  background: white;
  box-shadow:24px 24px rgba(255, 255, 255, 0.5) ;
}

.box {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.one {
  animation: rotate 10s linear infinite;
}

.two {
  animation: rotate 10s linear 2.5s infinite;
}

.two .circle {
  animation: rotate 10s linear 2.5s reverse infinite;
}

@keyframes rotate {
  to {
    transform: rotate(360deg);
  }
}


.circle:nth-of-type(8) {
  background: red;
  animation: mid 10s linear infinite;
  box-shadow: none;
}

@keyframes mid {
  0% {
    transform: scale(0.1);
    opacity: 0;
  }

  50% {
    transform: scale(4);
    opacity: 1;
  }

  100% {
    opacity: 0;
    transform: scale(0.1);
  }
}
